# SPDX-License-Identifier: AGPL-3.0-or-later

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_USE_DT_CODE_PARTITION=y

CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_0_ENHANCED_POLL_OUT=n
CONFIG_UART_LINE_CTRL=y
CONFIG_I2C_SHELL=y

CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=n
CONFIG_USB_DEVICE_HID=y
CONFIG_HID_INTERRUPT_EP_MPS=64
CONFIG_USB_HID_POLL_INTERVAL_MS=1
CONFIG_USB_DEVICE_VID=0x28de
CONFIG_USB_DEVICE_PID=0x1302
CONFIG_USB_DEVICE_MANUFACTURER="Valve Corporation"
CONFIG_USB_DEVICE_PRODUCT="SC26re Ibex CFW"
CONFIG_USB_DEVICE_SN="XXXXXXXXXXXXX"

CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_250PPM=y
